.cities {
  background-color: $color-grey-light-1;
  border-bottom: $line;

  &__title {
    font-size: 1.6rem;
    font-weight: 400;
    text-align: center;
    max-width: 47rem;
    padding: 3rem 3rem 1.5rem;
    margin: 0 auto;
  }
}

.list {
  padding: 1.5rem 4rem 4rem;

  &__item {
    box-shadow: $shadow-light;
    border-radius: 3px;
    overflow: hidden;

    &:not(:first-child) {
      margin-top: 2rem;
    }

    &__top-bar {
      background-color: #fff;
      padding: 1.5rem 3rem;
      border-bottom: $line;
      cursor: pointer;
      display: flex;
      justify-content: space-between;
      align-items: center;

      &::after {
        content: ">";
        font-size: 2rem;
        transform: rotate(90deg) scale(0.7, 1.4);
        transition: transform 0.3s;
      }
    }

    &.active &__top-bar::after {
      transform: rotate(270deg) scale(0.7, 1.4);
    }

    &__city-name {
      font-weight: 700;
      font-size: 1.8rem;
      display: flex;
      align-items: center;
    }

    &__value {
      margin-left: 3rem;
      padding: 0.5rem 1rem;
      border: 1px solid $color-grey-light-2;
      border-radius: 20px;
      background-color: $color-grey-light-1;
      font-size: 1.3rem;
      font-weight: 400;
      display: none;

      @media only screen and (min-width: $bp-small) {
        display: inline-block;
      }
    }

    &__city-info {
      background-color: $color-grey-light-1;
      padding: 3rem;
      border-left: 2px solid $color-primary;
      align-items: center;
      flex-direction: column;
      display: none;

      @media only screen and (min-width: $bp-mobile) {
        flex-direction: row;
      }
    }

    &.active &__city-info {
      display: flex;
    }

    &__image {
      width: 15rem;
      height: 15rem;
      object-fit: cover;
      border-radius: 50%;
      flex-shrink: 0;
      border: 3px solid #fff;
      box-shadow: 0rem 0rem 2rem rgba(0, 0, 0, 0.06);
    }

    &__desc {
      margin: 3rem 0 0 0;
      text-align: center;

      @media only screen and (min-width: $bp-mobile) {
        margin: 3rem 0 3rem 3rem;
        text-align: left;
      }

      & span {
        float: right;
        font-size: 1.5rem;
      }
    }
  }
}
