.loader {
  width: 48px;
  height: 48px;
  margin: 1rem auto;
  opacity: 0.4;
}
.loader:after {
  content: " ";
  display: block;
  width: 46px;
  height: 46px;
  margin: 1px;
  border-radius: 50%;
  border: 5px solid $color-grey-dark;
  border-color: $color-grey-dark transparent $color-grey-dark transparent;
  animation: spin 1.5s linear infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
